body {
  text-align: center;
  font-family: NotoSansCJKjp, Quicksand, 游ゴシック体, YuGothic, 'ヒラギノ角ゴシック Pro',メイリオ, Meiryo,'MS Pゴシック', 'MS ゴシック', sans-serif;
}
.label {
  vertical-align: top;
  margin-right: 5px;
}
